<!DOCTYPE html>
<html>
	<head>
		<title>Best Choice Cars</title>
	</head>
	<body>
	
	<h1>Best Choice Cars</h1>
	<h3>Choose a car to buy</h3>
	
		<table border="1px">
			<thead>
				<tr>
					<td>Brand</td>
					<td>Model</td>
					<td>Year</td>
					<td>No of KMS</td>
					<td>price</td>
					<td>Fuel</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="radio"></td>
				</tr>
				<tr>
					<td colspan="7">
						<input type="submit" value="Find Models">
						<button type="button" >Back</button>
						<button type="button" >Home</button>
					</td>
				</tr>
				
			</tbody>
		</table>
	
	</body>
</html>