<!DOCTYPE html>
<html>
	<head>
		<title>Choose by Brand</title>
	</head>
	<body>
	
	<h1>Best Choice Cars</h1>
	<h3>Choose Brand to find available models</h3>
	
	<table border="1px">
		<tbody>
			<tr>
				<td>Brand:</td>
				<td>
					<select>
						<option>sample</option>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Find Models">
				<button type="button" >Back</button></td>
			</tr>
			<!-- <tr>
				<td></td>
			</tr> -->
		</tbody>
	</table>
	
	</body>
</html>